#map {
    width: 100%;
    height: 66.67vh !important; /* Mengubah tinggi menjadi 2/3 dari tinggi viewport */
}

.navbar {
    width: 100%;
    height: 33.33vh; /* Tinggi navbar adalah 1/3 dari tinggi viewport */
    background-color: #f1f1f1; /* Warna latar belakang navbar */
    display: flex; /* Tambahkan baris ini */
    flex-direction: column; /* Tambahkan baris ini */
    justify-content: center; /* Tambahkan baris ini */
    align-items: center; /* Tambahkan baris ini */
}
#findHospital {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
#findAmbulance {
    display: none;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.ambulanceBar {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
}

#orderAmbulance {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.hospitalBar {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
}

img[src="emergencydept.png"] {
    width: 1px;
    height: 1px;
}

#waitingResponse {
    font-size: 24px;  /* Ukuran font */
    font-weight: bold;  /* Membuat teks tebal */
    text-align: center;  /* Menengahkan teks */
    position: fixed;  /* Posisi tetap */
    top: 80%;  /* Posisi vertikal tengah */
    left: 50%;  /* Posisi horizontal tengah */
    transform: translate(-50%, -50%);  /* Penyesuaian untuk benar-benar menengahkan elemen */
}